/*Resetea el margen y paddin de todo el documento*/
* {
    margin: 0;
    padding: 0;
}

/*Header y NAV*/
header {
    display: flex;
    flex-direction: column;
    background-color: pink;
}

.logoHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
}

.userButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    gap: 1rem;

}

.userButtons button {
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: lightgray;
}

.userButtons button:hover {
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: darkgray;
}

.navBar {
    border-top: 2px solid black;
    background-color: lightslategray;
}

.navBar ul {
    margin: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.navBar ul li a {
    text-decoration: none;
    color: lightgray;
}

.navBar ul li a:hover {
    text-decoration: none;
    color: red;
}

/*Body*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 1rem;
}

.pageSubtittle {
    text-align: center;
    font-style: italic;

}

.welcomeSection {
    margin: 1.5rem;
}

.presentationP{
    margin: 2rem 1rem;
    text-align: center;
}

/* Card section*/
.searchingSection h2{
    text-align: center;
    margin: 3rem 1rem;
}

#scrollContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50%;
}

#scrollContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dots-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;

}

.dot {
    width: 1rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.dot.active {
    background-color: red;
    transform: scale(1.2);
}

/*Card section*/
.searchingSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.searchingDiv p{
    margin: 1rem;
}
.exampleIMG{
    width: 12rem;
    padding-left: 25%;
}

#goToCardsPage{
    margin: 1rem 8rem;
    padding: 0.5rem 0.5rem;
    border-radius: 4rem;
}
#goToCardsPage a{
    text-decoration: none;
    color: black
}

/*Extra styles*/
.whiteSpaces .finishingLogo{
    width: 2rem;
    height: 2rem; 
    margin-top: 12%; 
}
.whiteSpaces{
    height: 8rem;
    width: 100%;
    background-color: aqua;
    border-top-style: inset;
    border-bottom-style: inset;
    display: flex;
    justify-content: center;
}
.banner1 img{
    width:100% ;
    border-top: 0.25rem solid pink;
}
