* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

#card-container {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 90%;
    GAP: 1rem;
    align-items: center;
}

.card-main-box {
    border: 2px solid gray;
    display: grid;
    grid-template-areas:
        "name manacost"
        "image image "
        "type subtype"
        "description description"
        "power toughness"
        "set set";
    grid-template-columns: 1fr 6rem;
    width: 90%;
    margin: 1rem 0rem;
}

.card-main-box>* {
    min-width: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-name {
    background-color: aqua;
    grid-area: name;
}

.card-colors {
    background-color: blue;
    grid-area: colors;
}

.card-image-box {
    grid-area: image;
    display: grid;
    width: 100%;
}

.card-img {
    background-color: pink;
    grid-area: image;
    margin:1rem 0rem;

}

.card-types {
    background-color: gray;
    grid-area: type;
}

.card-subtype {
    background-color: antiquewhite;
    grid-area: subtype;
}

.card-text {
    background-color: yellow;
    grid-area: description;
}

.card-manacost {
    background-color: blueviolet;
    grid-area: manacost;
    width: 100%;
}

.card-power {
    background-color: brown;
    grid-area: power;
}

.card-toughness {
    background-color: aquamarine;
    grid-area: toughness;
}

.card-set {
    background-color: violet;
    grid-area: set;
}