main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(100, 100, 100, 0.4), rgba(0, 0, 0, 0.2)),
        url('https://gatherer.wizards.com/Images/background/Gray_Patterned_BG.jpg');
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle {
    padding: 2rem;
    color: silver;
}

/*Form*/
.search-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


/*Name*/
.name-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#name-label {
    color: silver;
}

#card-name {
    width: 6rem;
    background-color: gray;
}

/*Power*/
.power-toughness {
    display: flex;
    flex-direction: row;
    color: silver;
    gap: 1rem;
}

.power-div {
    display: flex;
    flex-direction: row;
}

#power {
    width: 2rem;
    background-color: gray;
}

/*toughness*/
.toughness-div {
    display: flex;
    flex-direction: row;
}

#toughness {
    width: 2rem;
    background-color: gray;
}

.color-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.color-checkboxes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

#colors {
    accent-color: gray;
}

.mana-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.type-subtype {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.type-div {
    color: silver;
}

#type-selector {
    background-color: gray;

}

.subtypes-div {
    color: silver;
}

#subtypes {
    background-color: gray;
    width: 8rem;
}

.last-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: silver;
}

#rarity-selector {
    background: gray;
}

.search-button {
    background-color: gray;
    color: silver;
}


/*Card styles*/
#card-container {
    min-height: 40rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-image-box {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image-box:hover {

    transform: scale(1.1);
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

/*MODAL*/
.hidden {
    visibility: hidden;
    opacity: 0;

}

#modal-container {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    width: 90%;
    color: silver;
    border: 0.25rem solid black;
    padding: 0.75rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(/resources/stone-texture.jpg);
    background-size: contain;
    display: grid;
    grid-template-areas: 
    "close"
    "card"
    "decks";
    gap: 0.5rem;
}

#modal-container.active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    margin-top: 2rem;
}

.close-modal {
    justify-self: flex-end;
    border: none;
    grid-area: close;
    background: url(../resources/logos/close.png);
    width: 32px;
    height: 32px;
}

.card-main-box {
    grid-area: card;
    display: grid;
    align-items: center;
    grid-template-areas:
        "tittle tittle"
        "manaCost manaCost"
        "image type"
        "image subtype"
        "image power"
        "image toughness"
        "image set"
        "descpt desctp";
    grid-template-columns: 2fr 1fr;
    gap: 0.2rem;
}

.card-name {
    grid-area: tittle;
    text-align: center;
}

.card-manacost {
    grid-area: manaCost;
    text-align: end;
}

.modal-img {
    grid-area: image;
    margin-top: 1rem;
    
}

.card-img{
    object-fit: contain;

}
.card-types {
    grid-area: type;
}

.card-subtype {
    grid-area: subtype;
}

.card-text {
    grid-area: desctp;
    grid-column: span 2;
}

.card-power {
    grid-area: power;
}

.card-toughness {
    grid-area: toughness;
}

.card-set {
    grid-area: set;
}

.deck-modal-button{
    grid-area: decks;
    width: 11%;
    height: 2.5rem;
    background: url(../resources/logos/add-img.png);
    border: none;
    background-size:cover;
}

.create-collection-button{
    background-color: gray;
}

.collection-button{
    background-color: pink;
    height: 4rem;
    width: 4rem;
}