
@font-face {
    font-family: "TittleFontItalic";
    src: url("../resources/fonts/Fondamento-Italic.ttf") format("truetype");
}
/*Body*/
main {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(60, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('https://gatherer.wizards.com/Images/background/Gray_Patterned_BG.jpg')
}

.welcomeSection :first-child {
    margin-top: 0rem;
}

.welcomeSection {
    margin: 2rem 0rem;
    width: 90%;
    border: 1px inset black;
}

.tittles {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 1rem;
    color: silver;
    font-size: 2rem;
}

.pageSubtittle {
    font-family: "TittleFontItalic";
    text-align: center;
    font-style: italic;
    color: silver;
}

#scrollContainer {
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    height: 12rem;
    width: 90%;
    border: 2px outset black;
}

#scrollContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;

}

.dots-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;

}

.dot-position{
    margin-top: 1rem;
}
.dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: silver;
    transform: scale(1.2);
}

.dot:hover {
    background-color: red;
}

.presentationP {
    margin: 2rem 1rem;
    text-align: center;
    color: silver;
}

/*Card section*/

.searchingSection h2 {
    text-align: center;
    margin: 2rem 1rem;
    color: silver;
}

.searchingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5rem 0rem;
    width: 90%;
    border: 1px inset black;
}


.buttonLink {
    display: flex;
    justify-content: center;
    width: 70%;
    align-self: center;
}

.exampleIMG {
    width: 100%;
    border-radius: 6%;
    animation: animarSombra 4s ease-in-out infinite;

}

.exampleIMG:hover {
    animation: rotateCard 4s ease-in-out infinite;

}

.searchingDiv {
    text-align: center;
}

.searchingDiv :first-child {
    margin-top: 2rem;
}

.searchingDiv p {
    margin: 1rem;
    color: silver;
}

#goToCardsPage {
    align-self: center;
    width: 40%;
    padding: 1rem 1rem;
    margin: 1rem;
    border-radius: 4rem;
}

#goToCardsPage a {
    text-decoration: none;
    color: black
}

.white-space {
    border: 1px inset black;
    background-color: black;
    height: 3rem;
    width: 100%;
    margin-bottom: 2rem;
}

@keyframes animarSombra {
    0% {
        box-shadow: 0px 0px 5px 6px rgba(100, 100, 100, 0.3);
    }

    50% {
        box-shadow: 0px 0px 20px 10px rgba(150, 100, 100, 0.7);
    }

    100% {
        box-shadow: 0px 0px 5px 6px rgba(100, 100, 100, 0.3);
    }
}

@keyframes rotateCard {
    0% {
        
        transform: rotateZ(0deg);
        box-shadow: 0px 0px 5px 5px rgba(100, 100, 100, 0.5);

    }

    25% {
        transform: rotateZ(-1deg);
        box-shadow: 0px 0px 20px 10px rgba(100, 100, 100, 0.5);

    }

    50% {
        transform: rotateZ(1deg);
        box-shadow: 0px 0px 5px 5px rgba(100, 100, 100, 0.5);

    }

    75% {
        transform: rotateZ(-1deg);
        box-shadow: 0px 0px 20px 10px rgba(100, 100, 100, 0.5);

    }

    100% {
        transform: rotateZ(0deg);
        box-shadow: 0px 0px 5px 5px rgba(100, 100, 100, 0.5);

    }
}

@media (min-width: 1200px) {
    *{
        font-size: 20px;
    }
    main{
        margin-top: 9rem;
    }
    header{
        font-size: 22px;
    }
#scrollContainer{
    margin-top: 2rem;
    height: 30rem;
    width: 53rem;
}
#scrollContainer img{
    width: 100%;
    height: 100%;
}
.dot-position{
    margin-top: 1rem;
}
.exampleIMG{
    height: 25rem;
    width: 18rem;
    margin:1rem 0rem;
}
.pageTittle{
    font-size: 4rem;
}
.pageSubtittle{
    font-size: 1.2rem;
}
p{
    font-size: 1.2rem;
}
h2{
    font-size: 3rem;
}
}